body {
	font-family: "Playfair Display";
}

.footer {
	margin-top: 1rem;
	padding: 1rem;
	background-color: #333333;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	color: white;
}

.footerline {
	position: absolute;
	left: 0%;
	right: 0%;
	top: 95.87%;
	bottom: 0.01%;
	background: #70cc98;
}
